@model IEnumerable<MaisonVotre.Models.Rols>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RolName)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RolName)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Atrás", "Index")
</p>
