@{
    ViewBag.Title = "VotreMaison";
}


<br />
<img src="~/img/afiliatee.jpeg" class="img-fluid" alt="Responsive image" width="300px" height="300px"><br />
<img src="https://media.tenor.com/images/9ca6cae35b7d3a681b19c98ddbbdcc7d/tenor.gif" width="200px" height="140px" alt="imgf" />
<hr />
<br />
<br />
<br />



<div class="row">
    <div class="col-md-4" align="center">

        <font face="Arial" size=5 color="FF923D"><b>AUMENTA TUS VENTAS</b></font>
        <p>
            <img src="../img/grafica.png" width="128px" height="128px" alt="imgf" /><br />
            <font face="Arial" size=3 color="4D4A48">Deja que nuevos clientes te descubran y que <br /> tus clientes existentes disfruten de una <br /> experiencia inolvidable.</font>

        </p>

    </div>


    <div class="col-md-4" align="center">

        <font face="Arial" size=5 color="FF923D"><b>CONTROLA TUS ENTREGAS</b></font>
        <p>
            <img src="../img/ubicacion.png" width="128px" height="128px" alt="imgf" /><br />
            <font face="Arial" size=3 color="4D4A48">Hugo te permite monitorear el estatus de tus <br /> entregas y obtener feedback de tus clientes <br /> en tiempo real</font>

        </p>

        <a href="~/Home/ContactoComercio" class="btn btn-warning" role="button" aria-pressed="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AFÌLIATE YA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </a>
        <a href="~/Home/Requisitos" class="btn btn-info" role="button" aria-pressed="true">LEE LOS REQUISITOS</a>

    </div>


    <div class="col-md-4" align="center">

        <font face="Arial" size=5 color="FF923D"><b>CONOCE A TUS CLIENTES</b></font>
        <p>
            <img src="../img/ConoceClientes.png" width="128px" height="128px" alt="imgf" /><br />
            <font face="Arial" size=3 color="4D4A48">Obtén información extra de tus clientes para <br />poder brindarles un mejor servicio.</font>

        </p>

    </div>

   
</div>
